name: Continuous integration tests
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  run-tests:
    runs-on: ubuntu-latest
    name: "Matplotlib ${{ matrix.matplotlib-version}} on Python ${{ matrix.python-version }}"

    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.7", "3.10" ]
        matplotlib-version: [ "3.1.3", "3.5.0" ]

    env:
      Python: ${{ matrix.python-version}}
      Matplotlib: ${{ matrix.matplotlib-version }}

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "${{ matrix.python-version }}"
          architecture: x64

      - name: Install system libraries
        run: |
          apt update
          xargs -a .github/workflows/requirements-test-apt.txt apt install -y

      - name: Install test environment
        run: |
          pip install -r .github/workflows/requirements-test-pip.txt "matplotlib==${{ matrix.matplotlib-version }}"

      - name: Run unit tests
        run: pytest --cov-report=xml

      - name: Upload coverage report
        uses: codecov/codecov-action@v2.1.0
        with:
          dry_run: true
          files: coverage.xml
          env_vars: Python,Matplotlib
