name: Continuous integration tests
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  run-ci-tests:
    runs-on: ubuntu-latest
    name: "Matplotlib ${{ matrix.matplotlib-version}} on Python ${{ matrix.python-version }}"

    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.9", "3.11" ]
        matplotlib-version: [ "3.5.3", "3.7.1" ]

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "${{ matrix.python-version }}"
          architecture: x64

      - name: Install system libraries
        run: |
          sudo apt update
          xargs -a .github/workflows/requirements-test-apt.txt sudo apt install -y

      - name: Install test environment
        run: |
          pip install -r .github/workflows/requirements-test-pip.txt "matplotlib==${{ matrix.matplotlib-version }}"

      - name: Run unit tests
        run: pytest --cov-report=xml

      - name: Upload coverage report
        uses: codecov/codecov-action@v3
        with:
          files: coverage.xml
          flags: "Matplotlib-${{ matrix.matplotlib-version}}-Python-${{ matrix.python-version }}"
