name: Run tests against Matplotlib main branch

on:
  schedule:
    -cron: "18 2 * * 6"
  workflow_dispatch:

jobs:
  run-mpl-main-tests:
    name: Matplotlib main branch tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Decide on Python version
        id: mpl-main-nep29
        uses: mstimberg/github-calc-nep29@v0.2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "${{ steps.mpl-main-nep29.outputs.max-python }}"
          architecture: x64

      - name: Install system libraries
        run: |
          sudo apt update
          xargs -a .github/workflows/requirements-test-apt.txt sudo apt install -y

      - name: Install test environment
        run: |
          pip install git+https://github.com/matplotlib/matplotlib.git@main
          pip install -r .github/workflows/requirements-test-pip.txt

      - name: Find Matplotlib version
        id: mpl-main-version
        run: |
          echo "::set-output name=matplotlib-version::$(python -c 'import matplotlib;print(matplotlib.__version__)')"

      - name: Run unit tests
        run: pytest --cov-report=xml

      - name: Upload coverage report
        uses: codecov/codecov-action@v2.1.0
        with:
          files: coverage.xml
          name: "Matplob main branch ${{ steps.mpl-main-version.outputs.matplotlib-version }}"
